.row
    .col.s12
        h5(*ngIf="!editar") Nueva publicación
        h5(*ngIf="editar") Editar publicación
.row
    .col.s12
        .row
            .input-field.col.s12
                input.validate(type="text", id="title", name="title", [(ngModel)]="post.title",
                    #title="ngModel", required)
                label(for="title", [class.active]="editar") Título
        .row
            .col.s12
                span.text-primary Autor de la publicación
                ng-select([items]="authors", [addTag]="true", bindLabel="name", [(ngModel)]="post.author.name",
                    bindValue="name", [notFoundText]="'Sin autores, escribe para agregar'",
                    [loading]="loading", [addTagText]="'Agregar autor'")
        .row
            .input-field.col.s12
                label(for="main_image") Imagen principal
        .row
            .input-field.col.s12
                input-file([(ngModel)]="images", [fileAccept]="'image/*'", id="main_image", [fileLimit]="1")
        .row
            .col.s12
                span.text-primary Autor de la imagen principal
                ng-select([items]="authors", [addTag]="true", bindLabel="name", [(ngModel)]="post.main_image.author.name",
                    bindValue="name", [notFoundText]="'Sin autores, escribe para agregar'",
                    [loading]="loading", [addTagText]="'Agregar autor'")
        .row
            .input-field.col.s12
                label(for="content") Contenido
        .row
            .col.s12.m-top-30p
                quill-editor([(ngModel)]="post.content", id="content", name="content", #content="ngModel",
                    [placeholder]="'Escribe aquí...'")
        .row
            .col.s12.m6.m-top-50p(*ngIf="editar")
                a.btn.btn-block.waves-effect.waves-block.grey((click)="onDelete()") Eliminar
            .col.s12.m-top-50p([class.m6]="editar")
                a.btn.btn-block.bg-primary.waves-effect.waves-block((click)="onSubmit()") Guardar