.container.min-height-100vh
    .row.m-top-30p
        .col.s12
            h5(*ngIf="!editar") Nueva mascota
            h5(*ngIf="editar") Editar mascota
    .row
        .col.s12
            form(#petForm="ngForm", (submit)="onSubmit()")
                .row
                    .input-field.col.s12
                        input(type="text", id="name", name="name", [(ngModel)]="pet.name",
                            #nameInput="ngModel", required)
                        label(for="name", [class.active]="pet?.name") Nombre
                        span.grey-text.lighten-4(*ngIf="petForm.submitted && nameInput.errors?.required") Ingresa un nombre
                .row
                    .input-field.col.s12
                        label(for="description") Descripción
                .row
                    .col.s12.m-top-30p
                        quill-editor([(ngModel)]="pet.description", id="description", name="description", #descriptionInput="ngModel",
                            [placeholder]="'Escribe aquí...'")
                .row
                    .input-field.col.s12
                        label(for="size") Tamaño
                .row
                    .col.s12.m-top-30p
                        ng-select([items]="sizes", [addTag]="true", bindLabel="name",
                            [(ngModel)]="pet.size.name", bindValue="name", id="size", name="size",
                            [notFoundText]="'No se encontraron tamaños, escribe para agregar'", [loading]="loading",
                            [addTagText]="'Agregar'")
                .row
                    .input-field.col.s12
                        label(for="tastes") Gustos
                .row
                    .col.s12.m-top-30p
                        ng-select([items]="tastes", [addTag]="true", [multiple]="true", bindLabel="name",
                            [(ngModel)]="tastesSelected", bindValue="name", id="tastes", name="tastes",
                            [notFoundText]="'No se encontraron gustos, escribe para agregar'", [loading]="loading",
                            [addTagText]="'Agregar'")
                .row
                    .input-field.col.s12
                        label(for="images") Fotografías
                .row.m-top-50p
                    .input-field.col.s12
                        input-file([(ngModel)]="images", [fileAccept]="'image/*'", id="images", [fileLimit]="100", name="images")
                .row
                    .input-field.col.s12
                        label(for="birthday") Fecha de nacimiento
                .row
                    .input-field.col.s12
                        input([matDatepicker]="datepicker", id="birthday", (focus)="datepicker.open()", name="birthday",
                            #birthdayInput="ngModel", [(ngModel)]="birthdate", [min]="minDate", [max]="maxDate")
                        mat-datepicker(#datepicker="", touchUi="")
                .row
                    .input-field.col.s12
                        label(for="sex") Sexo
                .row
                    .col.s12.m-top-30p
                        ng-select([items]="sexs", bindLabel="name", [(ngModel)]="pet.sex.name", bindValue="name", id="sex",
                            [notFoundText]="'No se encontraron resultados'", name="sex",)
                .row
                    .input-field.col.s12
                        label(for="fur") Pelaje
                .row
                    .col.s12.m-top-30p
                        ng-select([items]="furs", [addTag]="true", bindLabel="name",
                            [(ngModel)]="pet.fur.name", bindValue="name", id="fur", name="fur",
                            [notFoundText]="'No se encontraron tipos de pelaje, escribe para agregar'", [loading]="loading",
                            [addTagText]="'Agregar'")
                .row
                    .input-field.col.s12
                        label(for="color") Color principal del pelaje
                .row
                    .col.s12.m6.offset-m3.m-top-30p
                        color-sketch([color]="(pet?.color ? pet?.color : '#000000')", (onChangeComplete)="onChangeColor($event)",
                            id="color", name="color")
                .row
                    .input-field.col.s12
                        label(for="admission_date") Fecha de admisión
                .row
                    .input-field.col.s12
                        input([matDatepicker]="datepicker2", id="admission_date", (focus)="datepicker2.open()",
                            name="admission_date", #admissionDateInput="ngModel", [(ngModel)]="admissionDate", [min]="minDate", [max]="maxDate")
                        mat-datepicker(#datepicker2="", touchUi="")
                .row
                    .col.s12.m6.m-top-50p(*ngIf="editar")
                        a.btn.btn-block.waves-effect.waves-block.grey((click)="onDelete()") Eliminar
                    .col.s12.m-top-50p([class.m6]="editar")
                        button.btn.bg-primary.waves-effect.white-text.col.s12(type="submit") Guardar